* {
    box-sizing: border-box;
    font-family: monospace;
    overflow-y: hidden;
}

body {
    counter-reset: checkedCount;
    position: relative;
}

:checked[type="checkbox"] {
    counter-increment: checkedCount;
}

button[type="submit"] {
    font-size: large;
}

button[type="submit"]:hover {
    background-color: greenyellow;
}

a[href^="http"]::before {
    background-image: url(./icons/externalLinkIco.png);
    background-size: 15px 17px;
    display: inline-block;
    width: 15px;
    height: 15px;
    content:"";
}

label:lang(en) {
    font-size: large;
}

.preferences {
    width: 30%;
    background-color: #F6F4F4;
    position: fixed;
    bottom: -450px;
    margin-left: auto;
    margin-right: auto;
    right: 0;
    left: 0;
    transition: bottom 200ms linear 50ms ;
}

.preferences:hover {
    bottom: -435px;
    transition: bottom 200ms linear 50ms ;
}

.content {
    padding: 20px;
}

.content h1 {
    text-align: center;
}

.section {
    margin-top: 10px;
}

.bar {
    background-color: #736B60;
    width: 100%;
    height: 10px;
}

.grid-element {
    display: grid;
    grid-auto-flow: column;
    grid-row: 1;
}

.grid-element label {
    justify-self: start;
    margin-right: 10px;
}

.grid-element a {
    justify-self: end;
    margin-top: 20px;
    display: flex;
    align-content: center;
}

.grid-element input {
    justify-self: end;
}

.btnConfirm {
    margin-top: 15px;
    justify-self: start;
}

.agreeCountDisplay::after {
    content: " " counter(checkedCount) " permissions.";
    color:indigo;
}

.spinner-grid {
    width: 100px;
    height: 100px;
    margin: auto;
    margin-top: 20%;
}

.spinner-grid div {
    width: 33%;
    height: 33%;
    background-color: #736B60;
    float: left;
}

@media only screen and (max-width: 1240px) {
    .preferences {
        width: fit-content;
    }
}